* {
    /* background-color: lightblue; */
    line-height: 1.2;
    margin: 20px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}

.recipe-title {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin: auto;
}

.recipe-list {
    display: flex;
}

.homepage li,
.homepage h2 {
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
}

ul li {
    list-style: circle;
    font-size: 25px;
}

.recipe-list li {
    color: black;
    list-style: none;
}

.burger-recipe h1,
.icecream-recipe h1,
.pizza-recipe h1 {
    text-align: center;
}

.burger-recipe a,
.pizza-recipe a,
.icecream-recipe a {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 100px;
    padding: 8px;
    background-color: bisque;
    border: 2px solid black;    
}

.pizza-recipe p,
.burger-recipe p,
.icecream-recipe p {
    font-weight: bold ;
}

/* Pizza recipe site */

.pizza-image {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.pizza-title {
    color: darkorange;
    font-size: 40px;
}

.pizza-recipe h3 {
    font-size: 30px;
}

.pizza-recipe {
    border: 5px solid orange;
    padding: 10px;
}

/* Burger recipe site */

.burger-image {
    display: block;
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
}

.burger-title {
    color: red;
    font-size: 40px;
}

.burger-recipe {
    border: 5px solid red;
}

.ingredients h3,
.steps h3,
.burger-recipe h2 {
    font-size: 25px;
    border: 4px solid red;
    background-color: pink;
    padding: 8px;
}

/* Ice Cream recipe site */

.icecream-recipe h1 {
    color: red;
}

.icecream-image {
    display: block;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
}

.icecream-title {
    color: pink;
    font-size: 40px;
}

.icecream-recipe {
    border: 5px solid pink;
}

.icecream-recipe h2 {
    color: red;
}