* {
    background-color: lightblue;
    line-height: 1.3;
    margin: 15px;
}

body {
    font-family: Verdana, sans-serif;
}

ul li {
    list-style: circle;
    font-size: 25px;
}

.burger-recipe h1,
.icecream-recipe h1 {
    text-align: center;
}

/* Pizza recipe site */

.pizza-container img {
    width: 500px;
}

.pizza-container h2 {
    color: darkorange;
    font-size: 50px;
}

.pizza-container p {
    font-weight: bold ;
}

.pizza-container h3 {
    font-size: 30px;
}

.pizza-container {
    border: 5px solid orange;
    padding: 10px;
}

/* Burger recipe site */



.burger-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger-recipe {
    border: 10px solid red;
}

.ingredients h3,
.steps h3,
.burger-recipe h2 {
    font-size: 25px;
}

/* Ice Cream recipe site */

.icecream-recipe h1 {
    color: red;
}

.icecream-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icecream-recipe {
    border: 10px solid pink;
}

.icecream-recipe h2 {
    color: red;
}